{% extends 'base.html' %}
{% block content %}
<h2>Registrar Equipo</h2>
<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    <label>Nombre Cliente</label>
    <input type="text" name="nombre" class="form-control">
  </div>
  <div class="mb-3">
    <label>Tipo Equipo</label>
    <input type="text" name="tipo" class="form-control">
  </div>
  <div class="mb-3">
    <label>Problema Informado</label>
    <textarea name="problema" class="form-control"></textarea>
  </div>
  <button class="btn btn-success" type="submit">Registrar</button>
</form>
{% endblock %}
