{% extends 'base.html' %}
{% block content %}
<h2>Verificar Estado del Equipo</h2>
<form method="get">
  <div class="mb-3">
    <label>Nombre Cliente</label>
    <input type="text" name="nombre" class="form-control">
  </div>
  <button class="btn btn-primary" type="submit">Buscar</button>
</form>
{% if equipo %}
  <h4 class="mt-3">Equipo de {{ equipo.nombre }}</h4>
  <p><strong>Estado actual:</strong> {{ equipo.estado }}</p>
  <a href="{% url 'reporte' %}?nombre={{ equipo.nombre }}" class="btn btn-success">Generar Reporte</a>
{% endif %}
{% endblock %}
